[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4

[*.html]
indent_style=space
indent_size=2

[*.js]
indent_style=space
indent_size=2

[*.css]
indent_style=space
indent_size=2

[{.babelrc,composer.lock,.stylelintrc,jest.config,.eslintrc,*.json,*.jsb3,*.jsb2,*.bowerrc}]
indent_style=space
indent_size=2

[{tsconfig.app.json,tsconfig.e2e.json,tsconfig.json,tsconfig.spec.json}]
indent_style=space
indent_size=2

[*.js.map]
indent_style=space
indent_size=2

[*.less]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[{*.yml,*.yaml,*.vue}]
indent_style=space
indent_size=2

[*.svelte]
indent_style=space
indent_size=2

